body {
    background-color: #333333;
    background-image: radial-gradient(#000000 0.6000000000000001px, #333333 0.6000000000000001px);
    background-size: 12px 12px;
}

h1 {
    color: white;
    text-align: center;
}

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}

/* URL BAR */
#url-bar {
    width: 70vw;
    height: 30px;
    border: 1px solid rgba(255, 255, 255, 0.37);
    border-radius: 8px;
    background: #1C1E20;
    color: white;
    padding: 0 10px;
}

/* CUSTOM PATH */
#custom-path {
    width:70vw;
    height:30px;
    padding:0px 10px;
    display: flex;
    align-items: center;
    background: #1C1E20;
    color: grey;
    border: 1px solid rgba(255, 255, 255, 0.37);
    border-radius: 8px;
}
#custom-path input[type=text] {
    border:none;
    outline: none;
    color: white;
    background-color:transparent;
}
#shorten-btn {
    height:30px;
    color:white;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.37);
    background-color: #1C1E20;
}
#shorten-btn:hover {
    cursor: pointer
}